@font-face {
    font-family: Montserrat-Medium;
    src: url(../../inStyles/Montserrat/static/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../../inStyles/Montserrat/static/Montserrat-SemiBold.ttf);
}

.navbar{
    background-color: #14181E;
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2232;
    margin-top: -120px;
}
.consultation{
    border: none;
    background-color: #6b71f9;
    box-shadow: 0px 0px 12px 0px #6B71F933;
    width: 288px;
    height: 46px;
    align-items: center;
    display: flex;
    border-radius: 15px;
    font-family: Montserrat-Medium;
    font-weight: 600;
    font-size: 16px;
    line-height: 19.5px;
    color: #ffffff;
}
.link{
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat-Medium;
    font-weight:600;
    font-size: 16px;
    line-height:19.5px;
}
.tabs{
    width: 615px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.burger-btn{
    border: none;
    background: none;
}

.burger-btn:hover{
    border: none;
    background:none;;
}

.burger-btn:active{
    background: none;
    border: none;
}

.burger-menu{
    width: 90%;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    height: 734px;
}

.burger-menu-header{
    width: 100%;
    height: 78px;
    background: #14181E;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.burger-menu-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #14181E;
    font-family: 'Montserrat-SemiBold';
    list-style-type: none;
    margin-left: 16px;
    margin-top: 20px;
}

.free-btn{
    display: block;
    width: 95%;
    height: 46px;
    margin: 0 auto;
    border-radius: 15px;
    padding-top: 11px;
    padding-right: 12px;
    padding-bottom: 11px;
    padding-left: 12px;
    border: none;
    color: #fff;
    background-color: #6b71f9;
    box-shadow: 0px 0px 12px 0px #6B71F933;
    font-weight: 600;
    line-height: 100%;
    font-size: 16px;
    font-family: "Montserrat-SemiBold";
    margin-top: 356px;
    margin-bottom: 16px; 
    
}

@media(max-width:767px){
    .tabs{
        width: 80%;
    }
}